.bottom_panel {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #000000d4;
}

.bottom_panel .bottom_btn {
    padding: 20px;
    color: white;
}

.header_desc {
    width: 100%;
    text-align: center;
}

.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label {
    margin-bottom: 5px;
}

.add_form {
    padding: 20px;
}

.tabs-fixed-width {
    height: 70px;
}